@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Book";
}

<h1>Book</h1>

@*<form method="post">*@
        <table>
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Travel Distance
                </th>
                <th>
                    Travel Type
                </th>
                <th>
                    Working Days
                </th>
                <th>
                    OverView Date
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var employeeRecord in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => employeeRecord.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employeeRecord.TravelAttribute.TravelDistance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employeeRecord.TravelAttribute.TravelType)
                    </td>
                    <td>
                        @{
                            int workDaysCount = employeeRecord.WorkDays.Count();
                        }
                        @Html.DisplayFor(modelItem => workDaysCount)
                    </td>
                    <td>
                        <form method="post">
                            <input class="ui-datepicker-month form-control" width="20"/>
                            <submit-button class="btn btn-primary" text="Overview" width="20"/>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
@*</form>*@

@section Scripts
{
    <script>
        $(function () {
            $('.ui-datepicker-month').datepicker();
        });
    </script>
}



